.m-top-30 {
  margin-top: 30px;
}
.welcome {
  float: right;
  padding: 15px 0;
  display: block;
}

/* @media screen and (max-width: 640px) {
  html { */
/* display: none; */
/* font-size: 4px; */
/* } */
/* } */
/* @media screen and (min-width: 500px) and (max-width: 710px) {
  html {
    font-size: 5.45px;
  }
}
@media screen and (min-width: 710px) and (max-width: 810px) {
  html {
    font-size: 6px;
  }
}
@media screen and (min-width: 810px) and (max-width: 1100px) {
  html {
    font-size: 7.5px;
  }
} */
@media screen and (max-width: 1300px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2560px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 3000px) and (max-width: 5120px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 5120px) {
  html {
    font-size: 35px;
  }
}